@model Docs.Models.Contents

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Model.Title</a>

            </div>
        </nav>
    </header>
	<div class="menu col">
			
		<partial name="_MenuFolder" model="Model.Root" />
			
	</div>
	<div class="col mr-4">
		<div class="GetPartial pageContent" data-uri="/Home/GetContent" data-id="@Model.Name">
            Loading information
        </div>
	</div>
</div>

